{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "no-underscore-dangle": "off"
  }
}
