.Docs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  background: rgb(243, 244, 245);
  border-radius: 2rem;
  text-align: center;
  line-height: 1;
}

.Docs nav a {
  margin: 0 1rem;
}
