.NavBar {
  position: relative;
  height: 5rem;
  background-color: rgb(42, 54, 75);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.NavBar > a {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 1rem;
  text-align: center;
  border-bottom: 3px solid transparent;
  color: rgb(218, 218, 218);
}

.NavBar > a:hover {
  color: rgb(255, 255, 255);
}

.NavBar > a:active {
  color: rgb(194, 194, 194);
}

.NavBar > a.active {
  border-bottom: 3px solid rgb(135, 194, 233);
  color: white;
}
